header {
    width: 232px;
    height: 232px;
    flex-shrink: 0;
}

menu {
    display: flex;
    width: 1920px;
    padding: 0px 74px;
    align-items: center;
    gap: 15px;
    background-color: #282828;
}

line {
    width: 1px;
    height: 62px;
    display: flex;
    width: 1920px;
    padding: 0px 74px;
    align-items: center;
    gap: 15px;
}